@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fireworks";

@layer components {
  .mask-image {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}

@layer components {
  .card {
    background-color: theme("colors.card");
    border-radius: theme("borderRadius.lg");
    box-shadow: theme("boxShadow.half-strong");
    border: 1px solid rgb(31 41 55);
  }

  .white {
    @apply border-none bg-white text-gray-800 shadow-none;
  }

  .padded {
    @apply p-6;
  }
}

@layer components {
  .button {
    @apply flex items-center justify-center gap-x-2 rounded-lg bg-gradient-to-r from-purple-1 to-purple-2 px-6 py-4 text-lg font-medium;
  }

  .button:hover {
    @apply bg-white bg-none text-purple-2;
  }

  div > .button:nth-child(2):not(.except) {
    @apply bg-white bg-none text-purple-2 hover:bg-purple-2 hover:text-white;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("/assets/ellipses.svg") no-repeat top -200px center #17122b;
  color: theme("colors.white");
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

#swap-btn:disabled {
  cursor: not-allowed;
}

#hideMe {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn,
.ce-conversion-tool__icon,
.ce-inline-toolbar__dropdown .icon--toggler-down,
.ce-inline-toolbar__dropdown-content svg,
.ce-conversion-tool,
.tc-popover__item-label,
.tc-popover__item-icon,
.tc-add-column,
.tc-add-row {
  color: #ae62fe !important;
}

::selection,
.ce-block--selected .ce-block__content [contenteditable] {
  background-color: #b064fe !important;
}

.ce-conversion-tool--focused {
  background-color: #b064fe !important;
  color: #fff !important;
}

.ce-toolbox__button {
  color: #b3b3b3;
}

.ce-toolbox__button:hover {
  color: #b064fe;
}

.toast-container.jsx-2113859084 {
  z-index: 9999;
}

.cdx-notify {
  color: #17122b;
}

.image-tool--loading .image-tool__image,
.image-tool .cdx-button {
  border: unset !important;
  background-color: #231f38;
  @apply flex justify-center rounded-md border-2 border border-dashed border-gray-800 bg-opacity-50 p-6 text-gray-400 shadow-xl shadow-half-strong;
}

.image-tool__image-picture {
  margin: 0;
  @apply w-full cursor-pointer rounded-lg transition-transform duration-300;
}

.image-tool .cdx-button > svg {
  display: none;
}

.cdx-quote {
  padding: 0;
  margin: 1.5rem 0 !important;
}

.ce-popover__item-label {
  color: #333333;
}

.ce-popover__item-icon svg {
  fill: #333333;
}

.cdx-quote__text {
  border: 0;
  margin: 0;
  min-height: initial !important;
}

.cdx-input.image-tool__caption,
.cdx-input.embed-tool__caption,
.cdx-input.cdx-quote__caption {
  display: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: #231f38;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 13px;
    -webkit-appearance: none;
    color: #b064fe;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 13px;
    -webkit-appearance: none;
    height: 13px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -1000px 0 0 1000px #b064fe;
  }
}

input[type="range"]::-moz-range-progress {
  background-color: #b064fe;
}

input[type="range"]::-moz-range-track {
  background-color: #231f38;
}

input[type="range"]::-ms-fill-lower {
  background-color: #b064fe;
}

input[type="range"]::-ms-fill-upper {
  background-color: #231f38;
}

#nprogress .bar {
  background-color: white !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #29d, 0 0 5px #b064fe !important;
}

#nprogress .spinner-icon {
  border-top-color: white !important;
  border-left-color: white !important;
}

// loading component
.loading-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99999;
  background: rgba(35, 33, 33, 0.7);
  flex-direction: column;
}

.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #7939ff;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #7939ff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  &:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #7939ff;
    border-right: 3px solid #7939ff;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
    @keyframes animateC {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.loading-animation {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #7939ff;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #7939ff;
  }
}

// progress bar
.chart {
  font-size: 0.6em;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  backface-visibility: visible;
  width: 95%;
  margin: auto;
}

.bar {
  font-size: 1em;
  position: relative;
  height: 10em;
  transition: all 0.3s ease-in-out;
  transform: rotateX(80deg) rotateY(0deg);
  transform-style: preserve-3d;

  .face {
    font-size: 2em;
    position: relative;
    width: 100%;
    height: 2em;
    background-color: rgba(#fefefe, 0.6);
    &.side-a,
    &.side-b {
      width: 2em;
    }
  }
  .side-a {
    transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em)
      translateZ(1em);
  }
  .side-b {
    transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em)
      translateZ(-1em);
    position: absolute;
    right: 0;
  }
  .side-0 {
    transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em)
      translateZ(-1em);
  }
  .side-1 {
    transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em)
      translateZ(3em);
  }
  .top {
    transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em)
      translateZ(2em);
  }
  .floor {
    box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3),
      0.6em -0.5em 3em rgba(0, 0, 0, 0.3), 0 0 4em rgba(255, 255, 255, 0.3);
  }
}

.growing-bar {
  transition: all 0.3s ease-in-out;
  background-color: rgba(#7939ff, 0.6);
  width: 100%;
  height: 2em;
}

@for $i from 0 to 101 {
  .bar-#{$i} {
    .growing-bar {
      width: percentage($i/100);
    }
  }
}
